#container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#display {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;

}

.gridBox {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

.grid0 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.grid2 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.grid4 {
    border: 3px solid black;
    margin: -3px;

}

.grid6 {
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.grid8 {
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.blue {
    color: aqua;
}

.red {
    color: red;
}