#display {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

}

.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border:2px solid blue;
}
